@import "compass/reset";
// Variables
$font-stack: Helvetica, sans-serif;
$primary-color: #c00;

// Main Styles
body {
  background-color: #fff;
  font-family: $font-stack;
}

// Typography
h1 {
  color: $primary-color;
  font-weight: bold;
}

// StorePicker Component
.store-selector {
  margin: 10px auto;
  display: block;
  width: 50%;
}
