{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Treasuregram</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top text-center">
    <a href="/"><img src="{% static 'images/logo.png' %}" alt="TreasureGram"></a>
  </nav>
  <main class="container" role="main">
    <div class="treasure panel panel-default">
      {% for treasure in treasures %}
      <div class="panel-heading">
        <h2 class="panel-title">{{ treasure.name }}</h2>
      </div>
      <div class="panel-body">
        <div class="treasure-photo">
          <img src="{{ treasure.img_url }}" alt="">
        </div>
        <table class="treasure-table">
          <tr>
            <th>
              <img src="{% static 'images/materials-icon.png' %}" alt="">
              Material:
            </th>
            <td>{{ treasure.material }}</td>
          </tr>
          <tr>
            <th>
              <img src="{% static 'images/value-icon.png' %}" alt="">
              Value:
            </th>
            <td>{% if treasure.value > 0 %}
              {{ treasure.value }}
            {% else %}
              Unknown
            {% endif %}</td>
          </tr>
          <tr>
            <th>
              <img src="{% static 'images/location-icon.png' %}" alt="">
              Location:
            </th>
            <td>{{ treasure.location }}</td>
          </tr>
        </table>


      </div>
      {% endfor %}
    </div>
  </main>
</body>
</html>
