/*
Theme Name:     Simone Child Theme
Description:    A Child Theme of Simone
Author:         Bill Dean
Version:        1.0
Template:       simone
*/

@import url("../simone/style.css")


.entry-content {
    margin: 1.5em auto 0;
}

.info-box {
    margin-bottom: 2rem;
    padding: 0 2rem 2rem;
    background-color: hsl(0, 0%, 85%);
}

.info-box h1 {
    padding: .5rem 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    background-color: hsl(0, 0%, 10%);
    color: #fff;
    font-size: 2.5rem;
}

.info-box p {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}


.related-list a {
    text-decoration: none;
}

.related-list a:hover > h3 {
    text-decoration: underline;
}
