<!doctype html>
<html ng-app="store">
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">

	<style type="text/css">
		.ng-invalid.ng-dirty {border-color: red;}
		.ng-valid.ng-dirty {border-color: green;}
	</style>
</head>
<body ng-controller="StoreController as store">
	
	<section ng-controller="PanelController as panel">
		
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
				<product-title></product-title>		
			</li>
		</ul>

		

		<ul class="nav nav-pills">
			<li ng-class="{ active: panel.isSelected(1) }">
				<a href ng-click="panel.selectTab(1)">Description</a>
			</li>
			<li ng-class="{ active:panel.isSelected(2) }">
				<a href ng-click="panel.selectTab(2)">Specifications</a>
			</li>
			<li ng-class="{ active:panel.isSelected(3) }">
				<a href ng-click="panel.selectTab(3)">Reviews</a>
			</li>
		</ul>
	
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">

				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Description</h4>
					<p>{{ product.description }}</p>
				</div>

				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Specification</h4>
					<blockquote>None Yet</blockquote>
				</div>

				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					<blockquote ng-repeat="review in product.reviews">
						<strong>Stars: {{review.stars}}</strong>
						{{review.body}}
						<cite>by: {{review.author}}</cite>
					</blockquote>

					<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
						<blockquote>
							<strong>Stars: {{reviewCtrl.review.stars}}</strong>
							{{reviewCtrl.review.body}}
							<cite>by: {{reviewCtrl.review.author}}</cite>
						</blockquote>

						<select ng-model="reviewCtrl.review.stars" required>
							<option value="1">1 star</option>
							<option value="2">2 star</option>
							<option value="3">3 star</option>
							<option value="4">4 star</option>
							<option value="5">5 star</option>
						</select>
						<textarea ng-model="reviewCtrl.review.body" required></textarea>
						<label>by:</label>
						<input ng-model="reviewCtrl.review.author" type="email" required />
						
						<div> reviewForm is {{reviewForm.$valid}}</div>
						<input type="submit" value="Submit" />
					</form>

				</div>

			</li>
		</ul>
	</section>
		
	<!-- 
			<h3>
				{{ product.name }}
				<em class="pull-right">{{ product.price | currency }}</em>
				<img ng-src="{{product.images[0].full}}"/>
			</h3>-->

	<!-- 
		<p>{{ product.description }}</p>
		<button ng-show="product.canPurchase">Add to Cart</button> -->

	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>