<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Post a Message</div>
    <div class="panel-body">
      <div class="input-group">
        <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>
        <span class="input-group-addon btn btn-primary" ng-click="main.postMessage()">Post</span>
      </div>
    </div>
  </div>

</div>
